[2017-03-28 17:44] petk opened #1 "Roadmap for v1.0.0"
For the stable release of `v1.0.0` the following tasks need to be done:

* Add support for the following extensions:
  * [ ] [Apache](http://php.net/manual/en/book.apache.php)
  * [x] [COM](http://php.net/manual/en/book.com.php)
  * [x] [DBA](http://php.net/manual/en/book.dba.php)
  * [ ] [Firebird/Interbase](http://php.net/manual/en/book.ibase.php)
  * [x] [GMP](http://php.net/manual/en/book.gmp.

[2017-05-08 18:00] petk commented on #1
Some extensions have been added, some are not relevant. Closing this.

[2017-05-08 18:00] #1 closed, assigned to petk

[2017-08-29 06:36] adaliszk opened #2 "Missing Documentation"
On the README: "Documentation with Docker and PHP recipes is available on PHP.earth"
The linked page is a 404 page: https://php.earth/doc/docker

I wanted to check that the image has `pdo_firebird` and `interbase` but in the source I only see the commented extension lines in the ini.

[2017-09-14 09:37] insekticid opened #3 "iconv(): Wrong charset, conversion from `UTF-8' to `ASCII//TRANSLIT//IGNORE' is not allowed"
How to reproduce?
-------------------------
`iconv('UTF-8', 'ASCII//TRANSLIT//IGNORE', 'šěýčíéáýřčíšýíščř');`

How to fix?
-----------------
[code]

refs
-------
* https://gist.github.com/guillemcanal/be3db96d3caa315b4e2b8259cab7d07e
* https://github.com/docker-library/php/issues/240

[2017-09-14 11:25] nhlm commented on #3
Fixing a thing by adding a testing channel to the repositories may lead into security issues. Not recommended.

[2017-09-16 19:11] adaliszk opened #4 "Apache build missing mod_authn_file.so"
Soon as I try to use the `7.0-apache`, `7.1-apache`, `7.2-apache`

the output complains about a missing library:
[code]

[2017-09-16 19:41] adaliszk commented on #4
It seems it's an issue in the apline package itself, I try to build with 3.4 to see it's exists there or not.

[2017-09-16 19:53] adaliszk commented on #4
The apache2 package is broken in apline, it was pushed about 4 hours ago and it seems missing that module.

[2017-09-18 15:03] petk commented on #3
I've checked this issue and the fastest and most solid current solution is indeed the one mentioned above. Since the [gnu-libiconv package](https://pkgs.alpinelinux.org/package/edge/testing/x86_64/gnu-libiconv) doesn't depend on too many other packages that might break things or present security issues, it's coming to these Dockerfiles in the following commits... So thanks for reporting these issu

[2017-09-20 14:32] petk commented on #3
This has now been fixed via a new gnu-libiconv package in the PHP.earth Alpine repository and patched PHP source code. I'll also send a PR to PHP source code, since the PHP iconv extension is not working as it should and doesn't get built when passing libiconv.

[2017-09-27 09:40] nicbou commented on #4
@adaliszk, can you provide more details on that issue? Where did you find out that the package is broken?

[2017-09-27 09:54] adaliszk commented on #4
I installed a bare alpine and apache and the problem is the same there.
[code]
The sad part that I couldn't find earlier versions of the package so I cannot just replace with a working one. Interesting that more than 11days ago it was broken and yesterady was still :/

I will make some experiments during afternoon today, maybe in the `edge` version it's not broken somehow. I've tried to comment ou

[2017-09-27 10:53] nicbou commented on #4
Seems like you're not alone! Check out this Dockerfile. I haven't tried it yet, but it addresses the same problem, so we're not crazy!

https://hub.docker.com/r/craigmcmahon/apache-php/~/dockerfile/

[2017-09-27 11:03] adaliszk commented on #4
I'm suprised that it's not solved yet, a lot of companies should use apline with apache so a lot of feedback should be about that, that's why I haven't tried to send a bugreport yet. (I think there are more capable peoples out there to fill out that)

[2017-09-27 12:21] insekticid commented on #3
tested and it works well

did you sent PR to PHP source code?

[2017-09-28 11:46] petk commented on #3
I'm still preparing the PR for the php-src. For now, there is only a customized patch added to these builds.

[2017-09-30 01:05] binboum commented on #4
Hi,

[code]

[2017-09-30 01:29] petk commented on #4
Checking this out soon...

[2017-09-30 23:58] petk commented on #4
Hello, Apache in Alpine seems to be working ok. But there was an issue with how the PHP.earth php7.1-alpine package was built... Now this should be working ok.

Make sure to use the latest stable Alpine version (at the time of this writing it is Alpine 3.6). PHP.earth packages don't support Alpine 3.5 and lower versions.

So, to start using Apache with these images:
[code]

More proper docs are on

[2017-10-01 11:13] adaliszk commented on #4
@petk Thank you! It seems now it's working with a bare alpine+apache as well.

[2017-10-01 11:13] #4 closed, assigned to petk

[2017-10-01 11:22] adaliszk opened #5 "How to use OpenLitespeed?"
For `apache2` and `nginx` I know that I have to put my public code into `/var/www/html` but it doesn't seems working with openlitespeed. It seems after configuring itself it shuts down.

The issue is probably because I do not know how to use it properly. Where should I put my test code to get something on the output?

[2017-10-01 11:30] adaliszk opened #6 "Minimal/Bare image needed"
So I see that you install a bunch of modules for environments, but I don't see any image with only the least amount of modules installed. I would like to install the required modules myself instead having ~20 unused modules.

For high speed API-s it's necessary to drop any unused package/module from the production environment, because they are booting up by each request and taking away a huge chun

[2017-10-01 11:32] adaliszk commented on #1
I cannot use your awesome image at my current company because it doesn't support firebird :D in fact I have to create a huge ~500MB image from ubuntu/debian just to achive that. I would really like to have firebird support it in this lightweight image!

[2017-10-01 12:06] adaliszk opened #7 "Documentation link broken"
In the README you refer to the https://php.earth/doc/docker url which is 404
I wouldn't mind an empty page saying under constructor or something like that but getting a 404 is really harsh :)

[2017-10-01 15:39] petk commented on #7
Yes, definitely. Docs are really required and also coming up soon. Closing this one in favor of #2 to track it.

[2017-10-01 15:39] #7 closed, assigned to nobody

[2017-10-01 15:45] petk commented on #5
OpenLiteSpeed reads the location that is set in the OpenLiteSpeed server configuration `/etc/litespeed/httpd_config.conf` and furthermore in the virtualhost configuration `/etc/litespeed/vhosts/Example/vhconf.conf`. With this image that is in the `/var/lib/litespeed/Example/html`.

Coming up in the documentation.

[2017-10-01 15:48] petk commented on #1
Firebird currently isn't building properly without some patches on the Alpine linux. Yes, I'm aware that it would be good to have this and some other ones such as PDO for MS SQL server as well possible on Alpine.

Let me check what we can do with this one.

[2017-10-01 16:02] petk opened #8 "New extension: firebird"
As mentioned in the #1 the firebird/interbase and pdo_firebird are missing since they are not possible to build without some core patches of the firebird code. Opening this issue to tracking possible progress here.

[2017-10-01 18:15] insekticid opened #9 "error open() "/var/tmp/nginx/fastcgi/1/00/0000000001" failed (13: Permission denied) while reading upstream"
Hi, I found another problem when doing very long output, nginx will try to cache response via output buffer

but you got this error
`
open() "/var/tmp/nginx/fastcgi/1/00/0000000001" failed (13: Permission denied) while reading upstream
`

https://github.com/piwik/piwik/issues/11310#issuecomment-333145775

fixed it via
`RUN chown -R www-data:www-data /var/tmp/nginx`

btw I am using your image as ba

[2017-10-02 13:31] adaliszk opened #10 "apache, nginx, litespeed, cgi short tags"
So using the lattest is very convenient and I would like to not specify the php version for apache, nginx, litespeed and cgi versions so I could roll my applications with the stable php version. If something goes wrong with and upgrade the tests will fail, so we could upgrade the necessary parts whenever it's needed to keep the code up to date.

[2017-10-02 14:25] petk commented on #10
Docker tags on one particular Docker image have only a single `latest` tag. Currently this might seem a bit confusing to newcomers:
`phpearth` - a vendor or username on Docker Hub
`php` - a repository on Docker Hub
`7.1-nginx` - tag name

Which all go into `phpearth/php:7.1-nginx`...

The `latest` is currently set to `phpearth/php:7.1` which includes only PHP CLI sapi and some of those additional

[2017-10-02 14:33] adaliszk commented on #10
Maybe not better but it would be nice to able to just swtich the core php library (https://hub.docker.com/_/php/) with your image adding the `phpearth/` to the front.

What you suggesting is interesting, but images can have multiple tags, so I would work with that instead multiple repositories. You can for example add the `latest` to the `7.1`. That should be one or two lines in the build process

[2017-10-02 14:41] adaliszk commented on #5
Okay, I've tried to look the files but I didn't able to pinpoint the document root, I will do some research later about it.

[2017-10-03 14:23] adaliszk commented on #5
Okay, so here is what I found out:
http://open.litespeedtech.com/mediawiki/index.php/Help:Repositories
http://open.litespeedtech.com/mediawiki/index.php/Help:Default_PHP_Settings

The example output port is `:8088` and you can reach an administration site on `:7080`
default login is `admin` / `123456`

From there you need to create your `vhost` and `listener` where in the vhost settings you need t

[2017-10-04 07:03] adaliszk opened #11 "lighttpd?"
I recently did a couple of benchmarks to choose which server solution is efficient to run a high-speed api, and I found out that `lighttpd` actually can faster serve static content than `nginx`. The cgi version is not faster but I think the fpm might be (currently configuring). Is there option to add `lighttpd` as well to the images?

[2017-10-04 09:58] petk commented on #11
OpenLiteSpeed does miracles... Kind of also why lighttpd and Caddy wasn't added here just yet. Benchmarking web servers is very complex task and depends on many many factors.

[2017-10-04 10:35] adaliszk commented on #11
It does? From my initial benchmarking tests with multiple threads a simple hello world is kind of the same speed as an apache. For now I admit that the tools which basically doesn't slow the code really nice with litepseed, but it doesn't seems to have that much miracle.

Currently the avarage speeds are (i7-6700,32GB RAM,High Speed SSD):
- **Apache2:** 58K paralel (62K peak), 18K serial (19K peak

[2017-10-13 00:14] petk commented on #6
Hello, after few testings, and checkings, now we have also small PHP CLI only images:
`phpearth/php:7.0`, `phpearth/php:7.1`, and `phpearth/php:7.2`.

What is the best approach with these images and to have smallest possible sizes?

In case you really need a smallest optimized size to use, it's better to go after the PHP.earth Alpine repository and build them in custom manner:
https://github.com/p

[2017-10-13 00:14] #6 closed, assigned to nobody

[2017-10-13 01:43] adaliszk commented on #6
Thank you for the images! I usually using this bare images to add the actual features what needed for the projects, it's very useful to start from a "skratch" image where every tool is initialized then the server provider images also could work from the minimal so if the base image changes the other would also automatically.

[2017-10-22 00:49] gstrauss commented on #11
@adaliszk lighttpd 1.4.46 was just released today and I am curious if it is am improvement for you.  As I am a lighttpd developer, I am curious what your benchmark is here.  What is your lighttpd.conf and how are you running your benchmark?  As @petk said:

[2017-10-26 16:33] petk commented on #2
Hello, initial docs have been finally enabled. More improvements coming up in the near future. Stay tuned and thanks for reporting issues.

[2017-10-26 16:34] #2 closed, assigned to petk

[2017-10-26 17:38] adaliszk commented on #11
Hey @gstrauss ! Sorry for the late response, I will upload the tester code and dockerfiles probably this weekend, I will ping you when it's up.

The method is basically to run one docker container, call a really simple `<?php echo "🐘";` file with https://github.com/wg/wrk with paralel threads note the results, after rebooting the container running the tests with https://httpd.apache.org/docs/2.4/p

[2017-10-26 18:22] adaliszk commented on #8
I try to sniff into it but how can I test one build configuration?

[2017-10-28 17:15] samundra opened #12 "Manual composer installation failed with error"
I tried to install composer the usual way from inside the container but it failed with error message.

Docker container: `phpearth/php:7.1-cli`

### Installation Command
[code]
#### Error reported by the system.

[code]
build docker container based on `7.1-cli` tag and try to install composer manually. I tried to do a manual installation so that I can have the latest version of composer but it fai

[2017-10-28 17:34] petk commented on #12
To be able to run Composer on any PHP, you'll need the following PHP extensions:

* phar
* json
* mbstring
* openssl
* zip
* zlib

And also some other recommended packages in general Linux systems (full complete list):
* curl
* git
* subversion
* openssh
* openssl
* mercurial
* tini
* bash
(many of these might not apply in some app cases)

The composer package from PHP.earth Alpine installs PHP ex

[2017-10-28 17:38] samundra commented on #12
@petk Thanks for the mentioned packages. I had to use `apk add --no-cache composer` to finally use composer. I found that it tries to get the latest version which is nice. However I thought I could install it out of the box and was surprised when it didn't.

I think, we should add phar packages by default to our docker boxes.

[2017-10-28 18:10] petk commented on #12
I agree. Phar is sort of essential extension and doesn't add too much to the Docker image (0.3MB ATM). Added via 5c06d4ec1a80958f0f9ee986a0dc23f7cbf2a98d

I'll leave this opened until I fix the Composer docs chapter also...

[2017-12-07 21:32] aadi-khan commented on #5
hello,

Hope you guys are doing well.

I need your assistance in setting up wordpress on litespeed server. I am running windows 10 pro, latest docker version and docker-compose. I have copied your `Dockerfile-7.0-litespeed ` and tags folder into the separate directory in my computer drive and i run the docker command to build an image `docker run --name openlitespeed -i -t -p 80:8088 -p 7080:7080

[2017-12-09 11:02] adaliszk commented on #5
You don't have to reinstall php again, you can use the provided lsphp.

Alternatively you can download my provided configuration, copy it into the `/etc/litespeed` location and add your wordpress public root to the `/var/www/html`

[2017-12-18 20:04] petk commented on #12
Docker & Composer chapter has been updated: https://php.earth/docs/docker/composer with some more info and usage examples. Closing this. In case there's more that needs to be explained, let me know...

[2017-12-18 20:04] #12 closed, assigned to nobody

[2017-12-18 21:29] petk commented on #9
Hello, I've checked this out and what might be better in this case is to run Nginx process as user and group `nginx` instead of the `www-data`... Alpine Linux has configured Nginx to run as `nginx` user and group and therefore sets these permissions on the mentioned temporary directory.

This is from the default `/etc/nginx/nginx.conf` on Alpine:
[code]

I can reproduce the same issue if I manuall

[2017-12-18 21:29] #9 closed, assigned to petk

[2017-12-23 17:32] insekticid opened #13 "missing xdebug 2.6 for php 7.2"
xdebug 2.6 for php 7 and 7.1 exists, but not for php 7.2

[2017-12-23 17:43] petk commented on #13
Added... Thanks for noticing. It has been missed when packages were uploaded via https://github.com/php-earth/alpine

Xdebug 2.6 is at the moment in Alpha 1 release though but it should work out ok.

[2017-12-23 18:29] insekticid commented on #13
whow, very quick response, I will test it

thank you and merry christmas

[2017-12-23 18:29] #13 closed, assigned to nobody

[2017-12-23 18:38] petk commented on #13
Thanks, same to you :+1: :smile:

[2018-02-19 11:04] insekticid opened #14 "New extension: blackfire.io probe"
* https://blackfire.io/docs/integrations/docker
* https://blog.blackfire.io/alpine-linux-support.html

[code]

[2018-02-21 08:44] insekticid opened #15 "New extension meminfo for memory leaks detection"
* https://github.com/BitOne/php-meminfo
* https://gist.github.com/insekticid/95b66b29f0ca6a55055b0be20337f41a

[code]

[2018-02-21 21:14] petk commented on #15
The `php-meminfo` extension has been added to the [PHP.earth Alpine repo](https://github.com/php-earth/alpine).

Installation:
[code]
The docs will be updated in the near future also.

Closing this as resolved and enhanced. In case of issues or questions let me know. Thanks.

[2018-02-21 21:14] #15 closed, assigned to nobody

[2018-03-28 05:12] cdaguerre opened #16 "SSL certificate of packages.php.earth expired"

[2018-03-28 09:45] petk commented on #16
Hello, repos.php.earth certificate has been renewed... Thanks for reporting.

[2018-03-28 09:45] #16 closed, assigned to nobody

[2018-03-30 17:43] insekticid opened #17 "PHP 7.2.4"
http://php.net/ChangeLog-7.php#7.2.4

* Fixed bug #76025 (Segfault while throwing exception in error_handler).

[2018-03-31 00:09] petk commented on #17
Expect PHP version bump in a day or so...

[2018-04-04 16:59] petk commented on #17
Latest PHP versions are available via these images also. 7a0d3a77d6ed8f843da3ba2ece9b805b8078b6b7 and https://github.com/php-earth/alpine/commit/563a0b697296871830cc0180d37ff8ecc2fd6f15

[2018-04-04 16:59] #17 closed, assigned to petk

[2018-05-22 00:06] petk commented on #11
Hello, @adaliszk and @gstrauss there is now a lighttpd image added as well using the default lighttpd from Alpine stable repository.

It will be more fined tuned in the near future.

[2018-05-22 00:06] #11 closed, assigned to nobody

[2018-06-01 14:00] cdaguerre opened #18 "New extension: AST"
Can anyone explain how to install [php-ast](https://github.com/nikic/php-ast)?
It's required by [phan](https://github.com/phan/phan)

[2018-06-01 19:04] petk commented on #18
Hello, the php-ast extension added to PHP.earth Alpine repository via https://github.com/phpearth/alpine/commit/69a3e0b91764ddcb6bf380ea609a8f17bced9588. Installation:

[code]

Or for older PHP versions `apk add --no-cache php7.1-ast` or `apk add --no-cache php7.0-ast`.

In case there are some bugs, let me know. Thanks for reporting.

[2018-06-01 19:04] #18 closed, assigned to nobody

[2018-06-15 19:40] sacesare opened #19 "php-fpm.conf is missing"
After install of any extension like "php7.1-pdo_pgsql", docker delete /etc/php/7.1/*.conf files, so fpm not work anymore.

Sample Dockerfile:
FROM phpearth/php:7.1-nginx
RUN apk add --no-cache php7.1-pdo_pgsql

Docker version: 18.03.1.ce-1.el7.centos
Linux: centos 7

[2018-06-15 21:07] petk commented on #19
Hello, thanks for reporting this issue.

I've just did the following and it seems to work ok:

[code]
and everything is there. Yes?

[2018-06-16 14:28] sacesare commented on #19
Version of docker and host?
It's working for me on docker 17.09.0-ce too, maybe /var/lib/docker corrupted?

[2018-06-16 20:41] petk commented on #19
* Docker version 18.05.0-ce, build f150324
* Ubuntu 18.04 with 4.15.0-23-generic kernel

[2018-06-17 09:36] insekticid commented on #19
@sacesare I think that you have mounted directory /etc/php/7.1/ from your filesystem. double check this!
I made that same mistake some time before too

[2018-06-17 20:25] sacesare commented on #19
Thank you,guys, it seems docker storage issue anyway. I've to check it on another docker version and machine.
@insekticid I've tested my container same way as Peter suggested with same outcome, so it's not "-v" option.
Anyway, if I install something else , not php7.1-* php earth package, everything is ok.

[2018-06-19 19:39] sacesare commented on #19
Interesting observation, if I run "apk add --no-cache php7.1-*" inside of running base image:
docker run  --rm -it --entrypoint=sh phpearth/php:7.1-nginx
everything is ok- /etc/php/7.1 stays intact. But "docker build" with same "apk add..." command simple replace base image's /etc/php/7.1 directory, destroying base content.

[2018-07-03 08:20] emrecanozkok opened #20 "https://repos.php.earth/alpine/phpearth.rsa.pub inaccessible"
https://repos.php.earth/alpine/phpearth.rsa.pub inaccessible omg

[2018-07-03 11:18] petk commented on #20
Now, it's working again... Sorry for the delay. Thanks for reporting issues.

[2018-07-03 11:18] #20 closed, assigned to nobody

[2018-07-24 06:18] KingYes opened #21 "How I can get shell back in current docker?"
This is my output about this:

[code]

It's in Kubernetes, but in local docker its a same.

Thanks!

[2018-07-24 06:56] petk commented on #21
Probably because there is no bash on that docker container. Many images, including these use only POSIX shell:

    kubectl exec -it dockername-XXX-YYY -- /bin/sh

[2018-07-24 12:32] KingYes commented on #21
Hey,

Can you change the base OS you use in this docker?

I need `apt-get` for example to install extra packages..

[2018-07-24 12:36] insekticid commented on #21
use apk add and do not forget to run apk update before. have a look for
example to my dockerized piwik repo on github

On Tue, 24 Jul 2018 at 14:32, Yakir Sitbon <notifications@github.com> wrote:

[2018-07-24 20:23] petk commented on #21
Alpine's packages: https://pkgs.alpinelinux.org/packages

To use a Debian based distribution, yes, a completely new Dockerfile is required for a base image. Otherwise, Alpine today provides most things already except software that require glibc specifically. Alpine is based on musl (the system C headers and stuff) and that causes some incompatibilities with software that is not made portable enoug

[2018-07-25 10:30] KingYes commented on #21
Okay, thanks !

But for now I can't get `mysqli` ext to work. In this code:
[code]

I get `false`.

My docker file is:
[code]

What I miss?

[2018-07-25 10:32] petk commented on #21
@KingYes

the `php7.2-mysqli` package...

[2018-07-25 18:57] KingYes commented on #21
It's the same. Can you show your own docker for that?

Maybe need to reload the nginx after this package get installed?

[2018-07-25 19:39] petk commented on #21
[code]

To build your customized Docker image:
[code]

To run Docker container from the built image:
[code]

I think this should work ok... But we need to bump also PHP versions in the docker hub to have the latest PHP versions...

P.S: it might be that you need to refresh your image once you've installed a new package... Common issuee with Docker sometimes...

[2018-07-25 20:48] KingYes commented on #21
If I run this docker by your example, I get "true". But the same docker in Kubernetes I get "false". :(

[2018-07-25 20:52] petk commented on #21
I'll check it out, thanks for reporting then... Do you maybe have any direct steps to reproduce this?

[2018-07-25 20:55] KingYes commented on #21
Okay, it's like a cache. I clear the cache from my images, and it's working. Thank you !

Sorry about that.

[2018-07-26 04:46] petk commented on #21
In case of issues, just ask.. Thanks.

[2018-07-26 04:46] #21 closed, assigned to nobody

[2018-07-26 05:47] KingYes commented on #21
Sorry for that, but what is the best way to install SSL on this docker?

[2018-07-26 06:07] petk commented on #21
[Certbot](https://hub.docker.com/r/certbot/certbot/) via a separate image.

[2018-07-27 09:27] adaliszk opened #22 "PHP-Litespeed [Alpine:3.8] missing admin_php symlink/binary"
I've wanted to use the litespeed but looks like it's not quite working with the current package. The problem seems to that while the `php7.*-litespeed` contains the `lsphp` it doesn't have the `/var/lib/litespeed/admin/fcgi-bin/admin_php`

Dockerfile:
[code]

Log:
[code]

[2018-07-27 09:51] adaliszk commented on #22
Hmm, it's there without any problem so I close this because the problem is different:
[code]

[2018-07-27 09:51] #22 closed, assigned to nobody

[2018-07-27 10:03] adaliszk commented on #19
@sacesare Weird, I'm using the apk repo on top of alpine and I haven't seen this issue, if I install something the files stay the same default, I can copy them out modify and add them again (switching FPM socket mode for example).

[2018-07-28 05:11] petk commented on #22
Instead of executing lswsctrl via `CMD ["/var/lib/litespeed/bin/lswsctrl", "start"]`, it would be better and more resilient to use something like `runit` or a bit more resources intense `supervisord`. These images use runit.

[2018-07-31 10:10] adaliszk commented on #22
Yeah it would be nice, can I set that up with a non-root user?

[2018-07-31 10:22] petk commented on #22
Yes, can be done...

[2018-07-31 10:39] adaliszk commented on #22
Okay, because there is one piece which is not mentioned here is that I need to make it work in a kubertenes environment where we using namespace users. But one issue at a time ;)

[2018-08-09 00:34] ghost opened #23 "Is it posible to cook a ZTS flavour?"
Would be fantastic if you add ZTS enabled branch.

[2018-08-10 08:48] adaliszk commented on #23
Hmm, it would be interesting to see how multi-thread works

[2018-08-26 18:59] insekticid opened #24 "unable to get PHP v 7.2.8 - latest version is 7.2.7"
newer php exists - PHP 7.2.9

[code]

[code]

[2018-09-02 18:29] insekticid commented on #24
http://php.net/ChangeLog-7.php#7.2.9

[2018-09-07 00:37] petk commented on #24
Latest PHP releases added to Docker images. At the moment the Litespeed one still needs updates, but others are ok to go... Thanks.

[2018-09-07 00:37] #24 closed, assigned to nobody

[2018-09-24 10:36] smelchior opened #25 "Fix Alpine 3.8 RCE"
Could you trigger a build for the images in docker hub so they update to Alpine 3.8.1 (currently 3.8.0)?
This would fix:
https://justi.cz/security/2018/09/13/alpine-apk-rce.html
 Thanks!

[2018-09-25 17:03] petk commented on #25
Hello. Thank you for reporting this issue @smelchior :+1:

Images have been rebuilt using Alpine 3.8.1. Resolved via 4348dc855bc41fd4b5309668df34dd9210088686

[2018-09-25 17:03] #25 closed, assigned to nobody

[2018-11-07 08:53] adaliszk opened #26 "Add MQSeries php module"
This might be in a wrong place, this is more related to the alpine repository I think, but I'll open it here first so anybody who comes from the docker hub could see it directly.

It would be nice to have the IBMs WebSphere MQ series Queue managers module. It needs some work to build it and it would help a lot for enterprises who building on top of IBM systems: http://php.net/manual/en/book.mqseri

[2018-11-07 10:20] adaliszk opened #27 "Add a way to install pecl extensions."
Currently, I need to manually install the phpize dependencies and the dev package to use pecl install, it would be nice if we would have an entrypoint or command to add pecl extensions more easily just like the official php image has.

What I'm doing right now:
[code]

What would be nice: https://docs.docker.com/samples/library/php/#pecl-extensions
[code]

[2018-11-07 13:46] petk commented on #26
Thanks for the suggestion. I'll check if it can be compiled. It looks like a bit outdated and unsynced PECL extension without a proper homepage or a source code repository... Last commit in the Git repository was 3 years ago, and last release on PECL was done last year:
https://github.com/php/pecl-networking-mqseries/releases
https://pecl.php.net/package/mqseries

Not something very promising yet.

[2018-11-07 14:36] adaliszk commented on #26
Yeah in the mean time I have some progress on it, it's not nice :sweat_smile:

[2018-11-07 14:49] adaliszk commented on #26
In order to build this you need to download the archive from the IBM site first and add it to the container yourself. I think this should be done by the image users so they can update the host package.

The archive can be found on: https://www-945.ibm.com/support/fixcentral/swg/selectFixes?product=ibm/WebSphere/WebSphere+MQ&release=7.5.0.9&platform=All&function=textSearch&text=client+install+&useR

[2018-11-07 14:59] adaliszk commented on #26
Maybe #27 would be a better solution to address this so at least you don't need to handle the pecl module installation and configuration

[2019-01-14 14:49] kkthxbye-code opened #28 "Bump PHP versions"
PHP 7.3 is not in RC anymore, and 7.3.1 has just been released with a couple of security fixes. 5.6, 7.1 and 7.2 also received updates.

[2019-01-21 13:55] insekticid commented on #28
+1

[2019-02-11 16:28] insekticid commented on #28
PHP 7.3.2

[2019-02-14 15:07] #28 closed, assigned to nobody

[2019-02-19 07:32] insekticid opened #29 "Xdebug 2.7.0RC2 released!"
Xdebug 2.7.0RC2 released!

[2019-02-19 07:32] insekticid opened #30 "PHP 7.3.2 Release"
http://php.net/archive/2019.php#id2019-02-07-1

[2019-02-25 14:29] adaliszk opened #31 "php7.3-memcached is missing"
I've tried to upgrade one of my applications from `7.2` to `7.3` and it seems the `php7.3-memcached` package is missing:

[code]

[2019-02-25 17:15] insekticid commented on #31
try to use php7-pecl-memcached
https://pkgs.alpinelinux.org/package/edge/community/x86/php7-pecl-memcached

[2019-02-26 10:40] adaliszk commented on #31
Same @insekticid, the base image `phpearth/php:7.3-nginx` uses alpine 3.8 and not edge:
[code]

[2019-03-06 10:59] insekticid commented on #31
I think that this project is dead

I switched to https://github.com/ambientum/ambientum
and it is using this prebuilded php+extensions https://github.com/codecasts/php-alpine

[2019-03-11 03:17] petk commented on #30
Updated to 7.3.3

[2019-03-11 03:17] #30 closed, assigned to nobody

[2019-03-11 03:21] petk commented on #27
Hello, thanks for suggestion and reporting this issue. However, I'm not entirely sure what you have in mind exactly here. What I can say is that I'm -1 on implementing another customized-only-for-alpine solution to install PECL extensions. What is needed is something better and actually a rewrite of pecl command script instead. Until this can be done, pecl is what should be used for this.

For add

[2019-03-11 03:21] petk commented on #29
Updated to 2.7.0 final...

[2019-03-11 03:21] #29 closed, assigned to nobody

[2019-03-11 03:22] petk commented on #31
The php7.3-memcached has been updated to latest version.

[2019-03-11 03:22] #31 closed, assigned to nobody

[2019-03-11 03:27] petk commented on #26
Once the release will be published on the pecl site, I'll gladly go and add it here also. Until then this is way too hacky and looking like the extension should be replaced with something else for now... Thank you.

[2019-03-11 03:27] #26 closed, assigned to nobody

[2019-03-11 03:36] petk commented on #27
With the php7.3-dev package these mentioned dependencies are already installed:
- file re2c autoconf make g++

[2019-03-11 03:37] petk commented on #27
As said above, yes. PECL is the right target here... For the pecl bugs and feature requests, for now, just report them at bugs.php.net instead. Otherwise it is part of the pear-core (not very well separated into it's own repository yet).

[2019-03-11 03:37] #27 closed, assigned to nobody

[2019-03-11 08:28] adaliszk commented on #31
Thank you @petk!

I'm not sure about the project state @insekticid, truth be told I would able to fix a couple of tickets myself and contribute. I've just haven't had a stable schedule to make up some time for it.

[2019-04-17 12:30] hcliff opened #32 "using with apache"
Hey, thanks for the project, super helpful.

I've been trying to deploy with apache, and I'm having some issues.

if my dockerfile reads identically to the getting started, everything works
[code]

but if I use the apache image instead
[code]
I get stuck with "it works" at localhost instead of my files. Could you point me to some docs? thanks!

[2019-04-17 13:13] hcliff commented on #32
answer: mount at `- .:/var/www/public` instead of `- .:/var/www/html`

[2019-04-23 16:35] antwal commented on #32
same problem

[2019-05-01 01:34] adaliszk commented on #32
Have you guys put a different index.php file into the `/var/www/html` location?

[2019-05-01 11:10] petk commented on #32
No. It should be the default index.html file from Alpine and Apache.

To use Apache image, you need to mount volume with you app into it and adjust Apache settings (/etc/apache2/...).

Best probably to do so by building and extended image:

[code]

docker run -it --rm -p 80:80 -v `pwd`:/var/www/app phpearth/php:7.3-apache

[2019-05-02 06:22] adaliszk commented on #32
True, I would do the custom Dockerfile with custom configs with a serious project, but if you just want to check it out, you can just put your app into the default location.

With a more serious project I would even split the server and the FPM to run them as main processes instead of the runit.

[2019-05-02 18:30] peter279k commented on #3
It looks like this issue has been resolved since `php-7.x` version.

This issue I think should be closed.

[2019-05-04 19:37] petk commented on #32
Example how to use Apache image: https://github.com/petk/bugs.php.net basically yes you need an orchestration tool here to properly link running containers together. This example here uses Docker Swarm for example. Otherwise you can also simply use docker-compose tool...

[2019-05-07 03:03] peter279k opened #33 "Consider adding litespeed package in repos.php.earth/alpine/"
According to this [issue ](https://bugs.alpinelinux.org/issues/10402#note-1)on Alpine issue tracking system, the `Litespeed` package is only available on `Alpine:3.9` test repository.

I think we have the following suggestions:

- Add the related Litespeed package in `https://repos.php.earth/alpine/` mirror.

[2019-05-15 02:17] peter279k commented on #33
@petk. If possible, please look at this issue.

Thanks,

[2019-06-09 23:23] petk commented on #3
Hello, I'm not sure if this has been directly fixed but I suggest moving this to PHP's side altogether - with the iconv different functionality when using the GNU's libiconv and maybe suggesting some sort of warning in the docs or something else that different iconv libraries or implementations mean also different functionalities... I'm not sure. But in any case closing this one as won't fix or at

[2019-06-09 23:23] #3 closed, assigned to petk

[2019-06-10 15:17] insekticid opened #35 "PHP 7.3.6"
https://www.php.net/archive/2019.php#id2019-05-30-1

[2019-07-21 02:16] josenobile commented on #5
I have used you @adaliszk suggested configuration with no success. Litespeed keeps restarting even with the default configuration.  Maybe can you create an example repo with a working configuration using phpearth/php:7.2-litespeed ?

[code]

[2019-07-22 00:29] adaliszk commented on #5
Sorry for the late answer @josenobile, I'll set up one in the morning ;)

[2019-07-23 12:11] glensc commented on #23
it's not interesting :)

we had ZTS enabled for 10+ years in PLD Linux, but decided to stop it as no real value, only constant pain of updating patches adding ZTS declarations.

[2019-08-01 09:01] glensc opened #36 "php 7.4 gd requires libiconv"
[code]

To reproduced:
[code]

cc @petk

[2019-08-01 09:01] glensc commented on #35
it's 7.3.8 already out,

@petk how to get the releases out sooner here, do you need contributors?

[2019-08-01 11:00] insekticid commented on #35
+1

[2019-08-12 21:44] edugsdf opened #37 "Primary script unknown"
![2019-08-12_183655_app1 local](https://user-images.githubusercontent.com/8173351/62900576-e172fc80-bd30-11e9-90cd-3f8b82fc6aee.png)

I use the duplicator to clone my site for local environment. When installing, it says it does not have write permission to the directory

docker-compose.yml:
[code]
At the server console shows this:
`[error] 15#15: *15 FastCGI sent in stderr: "Primary script unknown

[2019-08-13 06:48] glensc opened #38 "More maintainers needed"
I'm not satisfied with the pace [phpearth/docker-php](https://github.com/phpearth/docker-php) (and [phpearth/alpine](https://github.com/phpearth/alpine)) gets updated:
- https://github.com/phpearth/docker-php/issues/35#issuecomment-517196000
- https://github.com/phpearth/docker-php/issues/36

I would like to became maintainer, so I could use this project results faster and better.

I've been PLD L

[2019-08-13 06:48] glensc commented on #38
@petk

[2019-08-13 16:37] glensc commented on #36
gnu-libiconv is installed:

[code]

`ldd` can't also load:
[code]

so it's missing `-liconv` when at link stage:

[code]

[2019-08-14 07:38] mysignisleo opened #39 "How to enable apache rewrite ?"
I have the .htaccess under the app folder .
But it's not working.
And i want to enter the container , but not working too.
`docker exec -it container bash`

[2019-08-15 08:36] samundra commented on #39
@jerryjee you can create your own Dockerfile and then copy your .htaccess using command [ADD](https://docs.docker.com/engine/reference/builder/#add) or [COPY](https://docs.docker.com/engine/reference/builder/#copy)

Here is https://github.com/samundra/tus-php/blob/feature/update-docker-setup/docker/server/Dockerfile#L6 which I am borrowing from one of project I am working on.

You have to figure o

[2019-08-25 07:04] peter279k commented on #38
That's right. This repository should have more maintainers.

If possible, you can add me as one of maintainer to maintain this projects.

[2019-08-26 12:10] ghost opened #40 "docker exec user process caused "no such file or directory""
After building the image (7.2-litespeed.Dockerfile) and trying to launch the container starts and closes.

docker logs shows:

exec user process caused "no such file or directory"

From what I read, the error may be due to the end of line character.
After the change (files in tags) EOL from crlf to lf it worked, container start (not exit) but ... it shows error this time:

runsv lsws: fatal: unabl

[2019-09-03 21:41] msonowal opened #41 "Certificate phpearth.rsa.pub is expired"
ADD failed: Get https://repos.php.earth/alpine/phpearth.rsa.pub: x509: certificate has expired or is not yet valid

[2019-09-03 22:57] petk commented on #41
Hello, thank you for the report. Renewed.

[2019-09-03 22:57] #41 closed, assigned to nobody

[2019-09-03 23:00] msonowal commented on #41
@petk
thats really quick thanks a ton

[2019-10-27 11:16] whitejob opened #42 "Psr Extension"
Hello,

can you include the psr plugin in your repo?

Thanks

[2019-11-30 12:02] insekticid opened #43 "PHP 7.4 released"
https://www.php.net/releases/7_4_0.php
https://www.php.net/ChangeLog-7.php#7.4.0

[2019-11-30 15:22] samundra opened #44 "[Question] php earth alpine repo is missing php7.4-mcrypt"
### Docker image creation failed.

I tried to update one of our docker image to use `php7.4-nginx`, while doing it I found that php earth maintains it's own alpine repos which is currently missing `php7.4-mcrypt` package.

**Alternatives tried:**
- I also tried to change repo to use official alpine repository. It also failed as it couldn't verify signature.

Error output from alpine official packa

[2019-11-30 17:04] samundra commented on #44
**Update:**

I have dropped mcrypt. It's already deprecated by PHP7.2 as well. So, instead used php-openssl as alternative. Closing this comment as it is no longer required.

For those who end up here can refer to [discussion here](https://github.com/phpseclib/phpseclib/issues/1028#issuecomment-242739527) to have more insights.

[2019-11-30 17:04] #44 closed, assigned to nobody

[2019-12-06 15:43] icsy7867 opened #45 "MPM not loaded?"
I am having a weird issue on a RHEL 7.4 box.  Whenever I try to run a fairly simply docker container, it seems to successfully build except for a warning:

The image seems to build anyways and I try to start it.  It fails and I get this error:

I tried to load mod_mpm_event.so into the httpd.conf manually, but while building I am told the file doesn't exist.

I have included my dockerfile here.  H

[2019-12-06 16:04] icsy7867 commented on #45
After poking around, I think docker 1.13.1 is quite old.  Looking at getting this upgraded.

[2019-12-06 17:50] msonowal commented on #38
Me too @petk
We are happy to provide maintain

[2019-12-07 09:49] universe-42 commented on #38
@petk I am also happy to help

[2019-12-09 11:54] glensc commented on #38
Meanwhile, I've started similar project from scratch. Here's the roadmap:
- https://github.com/glensc/php-alpine/issues/4

[2020-01-09 14:13] TrurlMcByte opened #46 "phpearth/php:7.3-litespeed additional extension issue"
Trying install additional PHP extension to phpearth/php:7.3-litespeed
(Digest: sha256:fbb6afa9f723838a030d5e11ebcc0ee7afec2b589e32ccded87e39fabac9a2fd)
[code]
got errors
[code]
zend_hash_next_index_insert: symbol not found

PS. With phpearth/php:7.2-litespeed  no any issues

[2020-01-14 14:38] ayndev opened #47 "Problem in Fetching Repo"
fetch https://repos.php.earth/alpine/v3.9/x86_64/APKINDEX.tar.gz
WARNING: Ignoring https://repos.php.earth/alpine/v3.9/x86_64/APKINDEX.tar.gz: network error (check Internet connection and firewall)
ERROR: unsatisfiable constraints:

[2020-01-14 16:18] Hemric commented on #47
It seems like https://repos.php.earth is down !

[2020-01-14 17:06] smjgithub commented on #41
Is this down again? ADD failed: Get https://repos.php.earth/alpine/phpearth.rsa.pub: Service Unavailable

[2020-01-15 05:54] ayndev commented on #47
Is seems that  https://repos.php.earth  is up again

[2020-01-15 05:54] #47 closed, assigned to nobody

[2020-01-15 09:20] smjgithub commented on #47
Great, thanks for the update, yes, it is working fine now 👍

[2020-01-16 20:28] petk commented on #41
@smjgithub it's now working, yes.

[2020-01-24 09:51] insekticid commented on #43
https://www.php.net/releases/7_4_2.php

[2020-02-14 17:46] mhadaily commented on #5
I have same issue similar to  @josenobile, no luck to get it to work .

[2020-02-15 12:16] adaliszk commented on #5
@josenobile, @mhadaily, @aadi-khan sorry for disappearing. I've created some examples and a little guide on how to set up the OpenLiteSpeed here: https://github.com/adaliszk/phpearth-litespeed-examples

The old zip had an issue that the `Application` folder wasn't wrapped with the `vhosts` folder, so it failed to load it.

[2020-03-02 10:59] archer-developer opened #48 "SSL certificate expired"
Hello!
We are using phpearth/php:7.3-nginx docker image and we had a problem during building containers. SSL certificate in https://repos.php.earth is expired today (2 March). Please, renew SSL certificate.

[2020-03-02 12:27] OlegBabakov commented on #48
`139656898775912:error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed:ssl/statem/statem_clnt.c:1915:
ERROR: http://repos.php.earth/alpine/v3.9: Permission denied
`

Got SSL error again
Could you help?

[2020-03-02 13:51] archer-developer commented on #48
Hello, guys!
I maked a simple hotfix. I changed repository url (from base image) to my proxy. I added proxy to my dockerfile:

[code]
On my server I placed simple script (phpearth.php):

[code]

Apache configuration:
[code]
Hope this helps

[2020-03-03 18:58] #48 closed, assigned to nobody

[2020-03-26 15:15] SherinBloemendaal opened #49 "phpearth/php:7.4-litespeed not found"
Goodafternoon,

When i try to use the litespeed image for php7.4 it returns a 404 not found. You can also see on your github page the tag returned a 404. Can you please push the build?

Thank you! I love the repository!

[2020-04-30 11:44] tsubasaogawa commented on #45
I saw the same problem on Windows 10 + Vagrant (CentOS 7 Box).

[code]

But, I was able to build the same image with no error on Amazon Linux 2 (EC2).

[code]

Docker versions are 19.03.6-ce. I think it is a problem of VirtualBox.

[2020-05-03 06:54] Henridv opened #50 "Makefile indentation is wrong"
Spaces are used for indentation in Makefile whereas it should be tabs.

Calling make targets results in the following error:

`Makefile:6: *** multiple target patterns.  Stop.`

[2020-05-06 17:26] #50 closed, assigned to nobody

[2020-05-19 01:45] jodykpw opened #52 "nginx-module-vts"
Hello,

How can I adding nginx-module-vts

Thanks

[2020-05-22 12:07] jodykpw commented on #52
solved, I building NGINX from Source & Adding Modules then use PHP.earth Alpine repository install PHP.

[2020-05-22 12:07] #52 closed, assigned to nobody

[2020-06-20 15:52] Webrow opened #53 "Phpunit not installabe."
During the creation of my Dockerfile based on php7.2-lighttpd I am unable to run apk add phpunit (same goes for the documented nginx version).
It just errors that its missing.

[2020-06-27 17:39] RodzynDev commented on #36
So, how to install missing libs to use gd extension? @glensc

[2020-06-28 06:32] glensc commented on #36
@RodzynBWA I have not solved this problem. I just stopped using this project, it is unmaintained.

[2020-07-03 19:57] lvidal1 commented on #47
Repo is down again. I am getting a message saying `Get https://repos.php.earth/alpine/phpearth.rsa.pub: dial tcp 51.15.52.237:443: connect: connection refused` while building an image. Can someone know when it will be available again?

[2020-07-03 20:23] lvidal1 commented on #41
@petk Is it working? Currently, I am getting `ADD failed: Get https://repos.php.earth/alpine/phpearth.rsa.pub: dial tcp 51.15.52.237:443: connect: connection refused`

[2020-10-28 13:16] mclueppers commented on #36
If you try to build packages for Alpine 3.12 the solution is to not use the embedded libgd library.

[code]

I hope it helps

[2020-12-01 07:02] arifulhb commented on #3
I've added this code into one of my custom `php:7.3.24-fpm-alpine3.12` docker images and that also did work great.

Thanks

[2020-12-01 08:42] 627095286 opened #54 ""exec: "/sbin/runit-wrapper":permission denied"
Back-off restarting failed container
Created container php-apache-6cb59
Error: failed to start container "php-apache-6cb59": Error response from daemon: OCI runtime create failed: container_linux.go:345: starting container process caused "exec: \"/sbin/runit-wrapper\": permission denied": unknown
Back-off restarting failed container

[2020-12-01 08:44] 627095286 commented on #54
FROM alpine:3.9

Back-off restarting failed container
Created container php-apache-6cb59
Error: failed to start container "php-apache-6cb59": Error response from daemon: OCI runtime create failed: container_linux.go:345: starting container process caused "exec: "/sbin/runit-wrapper": permission denied": unknown
Back-off restarting failed container

[2020-12-01 09:29] 627095286 commented on #54
COPY tags/nginx /
RUN chmod +x /sbin/runit-wrapper
RUN chmod +x /sbin/runsvdir-start
RUN chmod +x /etc/service/php-fpm/run
RUN chmod +x /etc/service/nginx/run
EXPOSE 80

CMD ["/sbin/runit-wrapper"]
---
solved

[2020-12-09 15:24] glensc commented on #36
You can probably just ditch this project and use packages from alpine own repositories:
- https://github.com/glensc/php-alpine/issues/4#issuecomment-741838752

[2021-06-30 13:54] duolabmeng6 opened #55 "Can php8 be supported"
Can php8 be supported

[2021-07-12 21:07] voarsh2 commented on #55
Yeah, been meaning to ask if this is alive still.

[2021-07-14 08:27] duolabmeng6 commented on #55
I'm using it now

https://github.com/yeszao/dnmp

It's easy to use

[2021-09-11 11:21] gsusI commented on #3
Fixed by installing `php7-mbstring` `php7-iconv` in that order

[code]

Original solution here: https://github.com/docker-library/php/issues/240#issuecomment-355489551

[2021-10-01 11:17] vtotare opened #56 "certificate error for repos.php.earth"
Hi Team,
I am using below approach on Alpine linux to build my PHP container.

Approach:
apk add --no-cache wget ca-certificates
&& wget -O /etc/apk/keys/phpearth.rsa.pub https://repos.php.earth/alpine/phpearth.rsa.pub
&& echo "https://repos.php.earth/alpine/v3.8" >> /etc/apk/repositories

However, I started receiving below error since yesterday while building docker container. Can you please help

[2021-10-01 11:21] Maikuolan commented on #56
*Cross-referencing due to related: phpearth/alpine#32*
*Cross-referencing due to related: phpearth/PHP.earth#37*

[2022-02-01 21:53] blachawk opened #57 "can you provide examples of executing this with docker compose?"
can you provide examples of executing this with docker compose?